<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
<img src="../../../assets/perfilPhoto.jpg" class="img-fluid" id="fotodeperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <h4 id="nombre">Ariel Gastaminza</h4>
    <h4>Full Stack Developer Jr</h4>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h3>Acerca de Mí</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit ipsa, accusantium perspiciatis fugiat magnam quasi, nobis enim quis animi alias in incidunt? Esse sunt enim aspernatur laborum dolorem nobis beatae?</p>
        </span>
    </div>
</div>