<div class="row">
    <div>
      <h1>EXPERIENCIA <button type="button" class="btn btn-dark" routerLink="/nuevaexp" 
      *ngIf="isLogged"> AGREGAR </button> </h1> 
    </div>
  </div>
  <div>
    <div class="row justify-content-center">
        <div class="col-auto">
          <table class="table table-responsive">
            <tbody>
                <tr *ngFor="let Experiencia of expe">
                    <td>
                        <img src="{{Experiencia.imgE}}" width="100px">
                    </td>
                    <td>
                        <h5>{{Experiencia.fechaE}}</h5>
                    </td>
                    <td>
                        <h5>{{Experiencia.nombreE}}</h5>
                    </td>
                    <td>{{Experiencia.descripcionE}}</td>
                    <td *ngIf="isLogged">
                        <button class="btn btn-light" routerLink="/editexp/{{Experiencia.id}}">
                            <i class="bi bi-pencil-fill"></i></button>
                    </td>
                    <td *ngIf="isLogged">
                        <button class="btn btn-danger" (click)="delete(Experiencia.id)">
                            <i class="bi bi-trash-fill"></i></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
  </div>
