.row{
    padding: 20px;
}
div {
    background-color:#1e81b0;
    text-align: center;
}
/*etiqueta nombre*/
#nombre {
    margin-top: 2%;
    margin-left: 2%;
}
/*etiqueta foto de perfil en celular*/
@media (max-width: 576px){
#fotodeperfil{ 
    position: absolute;
    width: 15%;
    border-radius: 100%;
    border: 2px solid #eab676;
    box-shadow: 0px 0px 30px #eab676;
    left:180px;
    top:750px;
    }
}

/*etiqueta foto de perfil*/
@media (min-width: 575px){
    #fotodeperfil{ 
        position: absolute;
        width: 20%;
        border-radius: 100%;
        border: 2px solid #eab676;
        box-shadow: 0px 0px 30px #eab676;
        left: 25px;
        top:260px;
        }
    }

