<div class="row">
    <h1>Hard & Soft Skills</h1>

<div class="text-center col-sm4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="90"
    [radius]="100"
    [imageSrc]="'/assets/html.png'"
    [showImage]="true"
    [imageHeight]="100"
    [imageWidth]="100"
    [showUnits]="false"
    [showSubtitle]="false"
    [outerStrokeWidth]="12"
    [innerStrokeWidth]="4"
    [outerStrokeColor]="'#eab676'"
    [innerStrokeColor]="'#eeeee4'"
    [animation]="true"
    [animationDuration]="500"
  ></circle-progress>
</div>

<div class="text-center col-sm4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="80"
    [radius]="100"
    [imageSrc]="'/assets/CSS.png'"
    [showImage]="true"
    [imageHeight]="100"
    [imageWidth]="100"
    [showUnits]="false"
    [showSubtitle]="false"
    [outerStrokeWidth]="12"
    [innerStrokeWidth]="4"
    [outerStrokeColor]="'#eab676'"
    [innerStrokeColor]="'#eeeee4'"
    [animation]="true"
    [animationDuration]="500"
  ></circle-progress>
</div>

<div class="text-center col-sm4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="75"
    [radius]="100"
    [imageSrc]="'/assets/js.png'"
    [showImage]="true"
    [imageHeight]="100"
    [imageWidth]="100"
    [showUnits]="false"
    [showSubtitle]="false"
    [outerStrokeWidth]="12"
    [innerStrokeWidth]="4"
    [outerStrokeColor]="'#eab676'"
    [innerStrokeColor]="'#eeeee4'"
    [animation]="true"
    [animationDuration]="500"
  ></circle-progress>
</div>

<div class="text-center col-sm4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="100"
    [radius]="100"
    [imageSrc]="'/assets/git.png'"
    [showImage]="true"
    [imageHeight]="100"
    [imageWidth]="100"
    [showUnits]="false"
    [showSubtitle]="false"
    [outerStrokeWidth]="12"
    [innerStrokeWidth]="4"
    [outerStrokeColor]="'#eab676'"
    [innerStrokeColor]="'#eeeee4'"
    [animation]="true"
    [animationDuration]="500"
  ></circle-progress>
</div>

<div class="text-center col-sm4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="90"
    [radius]="100"
    [imageSrc]="'/assets/eng.png'"
    [showImage]="true"
    [imageHeight]="100"
    [imageWidth]="100"
    [showUnits]="false"
    [showSubtitle]="false"
    [outerStrokeWidth]="12"
    [innerStrokeWidth]="4"
    [outerStrokeColor]="'#eab676'"
    [innerStrokeColor]="'#eeeee4'"
    [animation]="true"
    [animationDuration]="500"
  ></circle-progress>
</div>

<div class="text-center col-sm4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="100"
    [radius]="100"
    [imageSrc]="'/assets/grupal.png'"
    [showImage]="true"
    [imageHeight]="100"
    [imageWidth]="100"
    [showUnits]="false"
    [showSubtitle]="false"
    [outerStrokeWidth]="12"
    [innerStrokeWidth]="4"
    [outerStrokeColor]="'#eab676'"
    [innerStrokeColor]="'#eeeee4'"
    [animation]="true"
    [animationDuration]="500"
  ></circle-progress>
</div>

</div>