<div class="row">
  <div>
    <h1>HARD & SOFT SKILLS</h1> 
 
  <div class="row justify-content-center">
      <div class="col-auto">
        <table class="table table-responsive">
          <tbody>
              <tr> 
    <circle-progress
    [percent]="90"
    [radius]="100"
    [imageSrc]="'/assets/html.png'"
    [showImage]="true"
    [imageHeight]="100"
    [imageWidth]="100"
    [showUnits]="false"
    [showSubtitle]="false"
    [outerStrokeWidth]="12"
    [innerStrokeWidth]="4"
    [outerStrokeColor]="'#eab676'"
    [innerStrokeColor]="'#eeeee4'"
    [animation]="true"
    [animationDuration]="500"
  ></circle-progress>

    <circle-progress
    [percent]="80"
    [radius]="100"
    [imageSrc]="'/assets/CSS.png'"
    [showImage]="true"
    [imageHeight]="100"
    [imageWidth]="100"
    [showUnits]="false"
    [showSubtitle]="false"
    [outerStrokeWidth]="12"
    [innerStrokeWidth]="4"
    [outerStrokeColor]="'#eab676'"
    [innerStrokeColor]="'#eeeee4'"
    [animation]="true"
    [animationDuration]="500"
  ></circle-progress>

    <circle-progress
    [percent]="75"
    [radius]="100"
    [imageSrc]="'/assets/js.png'"
    [showImage]="true"
    [imageHeight]="100"
    [imageWidth]="100"
    [showUnits]="false"
    [showSubtitle]="false"
    [outerStrokeWidth]="12"
    [innerStrokeWidth]="4"
    [outerStrokeColor]="'#eab676'"
    [innerStrokeColor]="'#eeeee4'"
    [animation]="true"
    [animationDuration]="500"
  ></circle-progress>

    <circle-progress
    [percent]="100"
    [radius]="100"
    [imageSrc]="'/assets/git.png'"
    [showImage]="true"
    [imageHeight]="100"
    [imageWidth]="100"
    [showUnits]="false"
    [showSubtitle]="false"
    [outerStrokeWidth]="12"
    [innerStrokeWidth]="4"
    [outerStrokeColor]="'#eab676'"
    [innerStrokeColor]="'#eeeee4'"
    [animation]="true"
    [animationDuration]="500"
  ></circle-progress>

    <circle-progress
    [percent]="70"
    [radius]="100"
    [imageSrc]="'/assets/java.png'"
    [showImage]="true"
    [imageHeight]="100"
    [imageWidth]="100"
    [showUnits]="false"
    [showSubtitle]="false"
    [outerStrokeWidth]="12"
    [innerStrokeWidth]="4"
    [outerStrokeColor]="'#eab676'"
    [innerStrokeColor]="'#eeeee4'"
    [animation]="true"
    [animationDuration]="500"
  ></circle-progress>

    <circle-progress
    [percent]="100"
    [radius]="100"
    [imageSrc]="'/assets/grupal.png'"
    [showImage]="true"
    [imageHeight]="100"
    [imageWidth]="100"
    [showUnits]="false"
    [showSubtitle]="false"
    [outerStrokeWidth]="12"
    [innerStrokeWidth]="4"
    [outerStrokeColor]="'#eab676'"
    [innerStrokeColor]="'#eeeee4'"
    [animation]="true"
    [animationDuration]="500"
  ></circle-progress>
</tr>
</tbody>
</table>
