<div class="container" *ngIf="proyecto">
    <div class="row">
        <div>
            <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="imgE">Imagen del proyecto</label>
                    <input type="url" class="form-control" id="imgE" name="imgE" [(ngModel)]="proyecto.imgE" required>
                </div>
                <div class="form-group">
                    <label for="nombreE">Nombre del proyecto</label>
                    <input type="text" class="form-control" id="nombreE" name="nombreE" [(ngModel)]="proyecto.nombreE" required>
                </div>
                <div class="form-group">
                    <label for="descripcionE">Descripcion del proyecto</label>
                    <input type="text" class="form-control" id="descripcionE" name="descripcionE" [(ngModel)]="proyecto.descripcionE" required>
                </div>
                <div class="form-group">
                    <label for="urlE">Link del proyecto</label>
                    <input type="url" class="form-control" id="urlE" name="urlE" [(ngModel)]="proyecto.urlE" required>
                </div>
                <button class="btn btn-primary">
                    MODIFICAR
                </button>
            </form>
        </div>
    </div>
</div>