<div>
<div class="row">
    <div>
      <h1>PROYECTOS <button type="button" class="btn btn-dark" routerLink="/nuevopro" 
      *ngIf="isLogged"> AGREGAR </button> </h1> 
    </div>
  </div>
</div>
<div class="row">
    <div class="card text-center" style="width: 20rem; margin: 0.5rem" *ngFor="let Proyecto of proyecto">
        <img src="{{Proyecto.imgE}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{Proyecto.nombreE}}</h5>
          <p class="card-text-center">{{Proyecto.descripcionE}}</p>
          <a href="{{Proyecto.urlE}}" target="_blank" class="btn btn-primary">IR AL PROYECTO</a>
          <a *ngIf="isLogged">
            <button class="btn btn-light" routerLink="/editpro/{{Proyecto.id}}">
                <i class="bi bi-pencil-fill"></i> </button>
            </a>
        <a *ngIf="isLogged">
            <button class="btn btn-danger" (click)="delete(Proyecto.id)">
                <i class="bi bi-trash-fill"></i> </button>
            </a>
</div>
