.row{
background-color: lightblue;
}
footer{
    color: whitesmoke;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 0px -2px 5px #eab676; 

}